.tri{
    width: 0px;
    height:0px;
   /* background-color:red; */
    /*border-top: 100px solid grey;*/
    border-right: 100px solid transparent;
    border-bottom: 100px solid yellow;
    border-left: 100px solid transparent;
}