body{ font-family: tangerine, serif;
    margin: 10px;
    padding:10px;
    background-color: #141311;
    color: #fe5000;
    font-size: 16px;
    }
.header{
   display: flex;
    justify-content:space-around;
    box-shadow: inset 0 0 3px 1px #fe5000;
    background-color: #151515;
    margin-top: 0;
    padding:inherit;
    border-radius: 5px 5px 5px 5px;
    height: 70px;
    position: fixed;
    z-index: 999;
    top:0;
    left: 0;
}

.nav{
    display: flex;
    
    padding-top: 5px;
        padding-left: 80px;
    padding-right: 40px;


   

    }
  a{
      display: flex;
      justify-content: space-around;
      flex-flow: row nowrap;
      padding: 15px;
      color:#f68320;

  }
.photo{
    display:flex;
    justify-content: flex-start;
    margin: 30px;
}
.poker{
    display: flex;
    justify-content:space-around;
    box-shadow: inset 0 0 10px 5px black;

    margin:20px;
    padding:16px;
     border-radius: 15px 15px 15px 15px;
     width: 70%;
     position: relative;
}
.asid{
    display: flex;
    flex-direction: column;
    justify-content: inherit;
    box-shadow: inset 0 0 10px 5px black;

    margin: 20px;
    width: 300px;
    border-radius: 15px 15px 15px 15px;
        padding-left: 20px;

}
.aside1{
   
    display: flex;
    
        padding: 20px 60px 20px 60px;
}

.ui1{
    display: flex;
    flex-direction: column-reverse;
    padding:0px 30px 120px 40px;

}
.log1{
    display: flex;
    z-index:999;
}
form{
    display: flex;
flex-flow: row nowrap;
    z-index: 999;
}
button{
    margin-top: 28px;
}
.main{
    display:flex;
flex-direction: flex-start;
position: relative;
overflow: auto;
padding-top: 100px;
}
.for{
        display: flex;
    flex-direction: inherit;
    padding-left: inherit;
    margin: inherit;

}
li{
    display: list-item;
    text-align: justify;
    
        }
        .photos{
            display:grid;
            box-shadow: inset 0 0 10px 5px black;
             margin: 20px;
    
    border-radius: 15px 15px 15px 15px;
        padding-left: 20px;
        padding-bottom: 20px;

            
        }
    .not::after{
        bottom: 1rem;
    }
           
        .para{
            
            text-align: justify;
            word-spacing: 2px;
            letter-spacing: 1px;
            text-overflow: initial;
            padding: 0px 20px 20px 20px;
        }
        .tit1{
            padding-top:20px; 
        }
        .scroll{
            display: flex;
            overflow-x: scroll ;
            margin-right: 20px;
            
        }
      
        .modal{
            position: fixed;
            display:none;
            z-index: 777;
            height: 100%;
            width: 100%;
            box-sizing: 100px 100px;
            background-position: center;
            background-color:lightgrey;
            
            
        }

.slide1{
    display:flex;
    width:800px;
    height:500px;
   margin-left: 250px;
    left:1000px;
    background-color: white;
    margin-top:80px;
    animation:  slide 0.5s forwards;
    
    
}
.slider{
    display: flex;
     

    overflow:hidden;
    
}
@keyframes sld{
    0%{ top: 0;
        opacity:1;
    }
    20%{
        top:-20%;
        opacity:0;
    }
    40%{
        top:-40%;
        opacity:0;
    }
    60%{
         top:-60%;
        opacity:0;
    }
    80%{
         top:-80%;
        opacity:0;
    }
    100%{
         top:-100%;
        opacity:0;
    }
}
img{
    animation:  slide 0.5s forwards;

}