body{ font-family: tangerine, serif;
    margin: 10px;
    padding:10px;
    
    font-size: 20px;
    }
.header{
   display: flex;
    justify-content:space-around;
    box-shadow: inset 0 0 5px 3px rgb(0, 0, 0);

    margin:15px;
    margin-top: 0;
    padding:20px;
    border-radius: 15px 15px 15px 15px;
    height: 70px;
    
}

.nav{
    display: flex;
    
    
    padding-top: 5px;
    padding-left:inherit;


   

    }
  a{
      display: flex;
      justify-content: space-around;
      flex-flow: row nowrap;
      padding: 15px;

  }
.photo{
    display:flex;
    justify-content: flex-start;
    margin: 30px;
}
.poker{
    display: flex;
    justify-content:space-around;
    box-shadow: inset 0 0 10px 5px black;

    margin:20px;
    padding:16px;
     border-radius: 15px 15px 15px 15px;
     width: 70%;
}
.asid{
    display: flex;
    flex-direction: column;
    justify-content: inherit;
    box-shadow: inset 0 0 10px 5px black;

    margin: 20px;
    width: 300px;
    border-radius: 15px 15px 15px 15px;
        padding-left: 20px;

}
.aside1{
   
    display: flex;
    
        padding: 20px 60px 20px 60px;
}

.ui1{
    display: flex;
    flex-direction: column-reverse;
    padding:0px 30px 120px 40px;

}
.log1{
    display: flex;
    z-index:999;
}
form{
    display: flex;
flex-flow: row nowrap;
    z-index: 999;
}
button{
    margin-top: 28px;
}
.main{
    display:flex;
flex-direction: flex-start;
}
.for{
        display: flex;
    flex-direction: inherit;
    padding-left: inherit;
    margin: inherit;

}
li{
    display: list-item;
    text-align: justify;
    
        }
        .photos{
            display:grid;
            box-shadow: inset 0 0 10px 5px black;
             margin: 20px;
    
    border-radius: 15px 15px 15px 15px;
        padding-left: 20px;
        padding-bottom: 20px;
            overflow:hidden;
            
        }
    .not::after{
        bottom: 1rem;
    }
           
        .para{
            
            text-align: justify;
            word-spacing: 2px;
            letter-spacing: 1px;
            text-overflow: initial;
            padding: 0px 20px 20px 20px;
        }
        .tit1{
            padding-top:20px; 
        }