div{
    margin : auto;
    

}
div.about{
    float: left;
    width: 48%;
}
div.latest{
    float: left;
    width: 48%;
}
body {
  width: 90%;
  max-width: 900px;
  margin: 0 auto;
}
div.src{
    width: 50px;
    height: 50px;
}
img{
    width:200%;
    height:200%;
}
footer{
    clear: both;
    margin: 4%;
}