.bar{
    display: inline;
    margin:0 auto;
    text-align: stretch;
    padding: 60px;
    
    
}
.nav{
    background: yellow linear-gradient(to bottom, yellow, #dddd00 50%, orange) no-repeat 50% center;
  height: 20%;
    margin:0  auto;
    padding:10px;
}
img{
    padding:10px;
    margin:0 auto;
    border-radius:10%;
   
   
}
.about{
    
}