.header{
  text-align:center;
  background-color: rgba(0,255,255,1);
  background-size: cover;
 color: black;
 height: 180px;
 width:600px;
 animation:  bounceIn 2s ease-in-out 3s 3 alternate;
 position: relative;
 display:flex;
 margin:0 auto;
 padding-top: -30px;
 padding-left: 40px;
 border-radius:80px;
 }
 @keyframes bounceIn {
  0% {
    transform: scale(0.1);
    opacity: 0;
  }
  60% {
    transform: scale(1.2);
    opacity: 1;
  }
  100% {
    transform: scale(1);
  }
}
 a{
   color:white;
 }
 h1{
   font-size: 70px;
 }
img {
  margin: 40px 0px 0px 0px;
  border: 7px solid white;
  border-radius: 20px;
}
ul{
  padding: 10px;
  background: black;
}
li {
  display: inline;
  padding: 0px 10px 0px 10px;
}
article{
      max-width: 500px;
      padding: 20px;
      margin:0 auto;
    }
    @media (max-width: 500px){
      body{
        background: red;
      }
    }